    

   /* header-nav-section-start */

   .nav-section
   { 
      display: flex;  
      justify-content: space-between;  
      margin-left: 40px; 
      margin-right: 40px;
    }



   .nav-title
   {  
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 28px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0%;
    }



    .nav-btn
    {   
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        margin: 32px 0px; 
        padding: 10px 5px 10px  5px;
    }

    /* header-nav-section-end */


   /* header-banner-section-start */
    



.header-banner-content
{ 
    background-image: url('../assets/Hero-bg.png') ;  
    text-align: center; margin-bottom: 100px;  
}

.header-banner-img{  padding-top: 30px; }

.heder-banner-title
{ 
    font-weight: 800px;  
    font-size: 40px;         
} 


 .header-banner-description
 {  
    color: rgb(13, 19, 33) ;  
    opacity: 0.7;
    font-size: 20px;
} 
 
 
.header-banner-button
{    
    border-radius: 8px;
    background: rgb(13, 19, 33); 
    margin: 32px 0px;  
                 
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

               /* header-banner-section-end */


             /* first-section-row-start */

.first-section
{ 
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-left: 148px;
    margin-right: 152px; 
    align-items: center;
    display: flex; 
    flex-direction: column;
    padding: 60px 70px 60px 70px;
}  
            




.section-title
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;
    line-height: 30px;
    padding-top: 40px;
    text-align: center;
}

.section-description
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}  
    
    
    /* section-row-start */

.section-row
{  
        display: flex; 
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        align-items: center;
        width: 800px;
        height: 300px;  
        padding: 48px;
        margin: 32px 0px;
    
}


.row-content-img
{   
        display: flex; 
        width: 850px;
        height: 240px;
        justify-content: space-between;
        align-items: center;
        padding: 0px; 
        margin: 32px 0px;        
}



.row-content-title
{
        color: rgba(13, 19, 33, 0.7);
        font-family: Azeret Mono;
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        margin: 16px 0px;
        text-align: left;
}    


.row-content-description
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0px;
}  
    
    
.row-content-btn
{
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px;
}   


.section-row-img
{
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
}               


 /* section-second-start */
.second-section{
position: absolute;
width: 100%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.section-2-content{  
    display: flex;  
    flex-direction: column;    
    align-items: center; 
    margin-right: 100px;
justify-content: center;       }

.video{    padding: 20 20 20 20 ;  
           margin-bottom: 30px;
           margin-top: 30px; }


.section-colum-content{ display: flex;    
    gap: 15px;  border: none;
    border-radius: 5px;
    background: rgba(13, 19, 33, 0.02);
    margin-left: 148px;
    margin-right: 152px; 
    align-items: center;
    padding: 50px 60px 50px 60px;
    justify-content: space-around;
    margin-bottom: 70px;

    height: 350px;
}   

.section-colum-1{ border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);     height: 300px;          }


    .section-colum-2{border-radius: 16px;

        background: rgba(0, 76, 232, 0.05);     height: 300px;}
        
        .section-colum-3{border-radius: 16px;

            background: rgba(255, 223, 0, 0.05);    height: 300px;
            
       }
.colum-img{margin: 24px 10px; width: 56px;
    height: 56px;
          
           }
.colum-title{  margin: 15px 20px;                 }

.colum-des{  margin: 15px 20px;                           }

.culom-link{  
    margin: 15px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 30px;
    
    }



    .suggest-area{  background-image: url('../assets/handshake\ \(1\)\ -\ Copy.jpg') ; 
        border-radius: 16px;
         background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
            border-radius: 16px; 
            left: 150px;
            right: 150px;
            width: 1140px;
            height: 330px;
            bottom: 70px;
            align-items: center;
             display: flex; 
             flex-direction: column;
              justify-content: center;
          
        }
    
    .suggest-area-title{ color: rgb(255, 255, 255);
        font-family: Azeret Mono;
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;                           }




.suggest-area-des{
        color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;}

.message{      display: flex;      
      justify-content: space-between;   
       margin: 16px 0px;  align-items: center;  }

       .message-area{box-sizing: border-box;
        border: none ;
        border-radius: 8px;
        
        background: rgb(255, 255, 255);}
.btn{   border-radius: 8px;

    background: rgb(255, 255, 255);width: 120px;
    height: 58px;padding: 17px 20px 17px 20px;   margin: 0px 16px;    }