    

   /* header-nav-section-start */

   .nav-section{ 
    display: flex;  
    justify-content: space-between;  
    margin-left: 40px; 
    margin-right: 40px;  }



   .nav-title{  
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 28px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0%;
         }



    .nav-btn{ 
        
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        margin: 32px 0px; 
        padding: 10px 5px 10px  5px;
                        }

    /* header-nav-section-end */


   /* header-banner-section-start */

.header-banner-content{ 
    background-image: url('../assets/Hero-bg.png') ;  
    text-align: center;}

.heder-banner-title{ 
    font-weight: 800px;  
    font-size: 40px;         } 


.header-banner-description{  
    color: rgb(13, 19, 33) ;  
    opacity: 0.7;
    font-size: 20px;
                    } 
 
 
.header-banner-button{    
    border-radius: 8px;
    background: rgb(13, 19, 33); 
    margin: 32px 0px;  
                 
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;}

               /* header-banner-section-end */


             /* first-section-row-start */

.first-section{ 
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);}  
            




.section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    padding-top: 50px;
    text-align: center;
     margin-top: 100px;}

 .section-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;}   


 